@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif; 
}

.logo {
  width: 50px;
  height: 50px;
}

h1 {
  font-size: 20px;
  margin: 0;
}

h2 {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.308);
  margin: 10px 0 0 0;
  padding-bottom: 10px;
}

main {
  background-color: rgb(219, 143, 0);
  padding: 10px;
}

.categories-title {
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.category-img {
  width: 100px;
}